.nav-pills .nav-link {
    color: var(--contrast-color);
    border: 1px solid var(--contrast-color);
    margin-right: 6px;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-pills .nav-link.active {
    background-color: var(--contrast-color);
    color: var(--secondary-color);
    border-color: var(--contrast-color);
}
.pickup-card {
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pickup-header {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--contrast-color);
    margin-bottom: 10px;
}

.pickup-details {
    font-size: 1rem;
    color: var(--contrast-color);
}

.pickup-meta {
    font-size: 0.95rem;
    color: var(--contrast-color);
    margin-top: 10px;
}
.pickup-card form select {
    border-radius: 5px;
    width: 200px;
    border: none;
}
@media screen and (max-width: 988px) {
    .pickup-card {
        flex-direction: column;
        align-items: flex-start;
    }
    .pickup-header {
        font-size: 1.1rem;
    }
    .pickup-details, .pickup-meta {
        font-size: 0.9rem;
    }
    
}