.xodry-faq-section .section-title {
  color: var(--contrast-color);
  font-weight: 700;
  font-size: 3rem;
}

.xodry-faq-section .section-subtitle {
  color:var(--contrast-color);
  font-size: 1rem;
}

.xodry-faq-card {
  background-color: var(--contrast-color);
  color: var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: 0.3s ease-in-out;
}

.accordion-button {
  background-color: var(--contrast-color);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: var(--contrast-color);
  color: var(--primary-color);
}

.accordion-button:focus {
  box-shadow: none;
  border: none;
}

.accordion-body {
  background-color: var(--secondary-color);
  color:var(--contrast-color);
  font-size: 0.95rem;
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--accent-color);
}

.accordion-button i {
  color: var(--accent-color);
}
