/* Section Background and Text */
.xodry-howitworks-section {
  background-color: var(--secondary-color);
  color: var(--light-color);
  padding: 60px 0px!important;
}

/* Heading */
.xodry-howitworks-section h2 {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 10px;
  color: var(--light-color);
}

.xodry-howitworks-section .paragraph {
  font-size: 1.2rem;
  color: var(--light-color);
  margin: 0 auto 30px auto;
}

/* === User Steps Section === */
.xodry-user-step-container h3{
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 20px 10px;
  text-transform: capitalize;
}
.xodry-user-step-container h2 {
  font-size: 100px;
  font-weight: 900;
  padding: 30px 22px;
  background: var(--accent-color);
  border-radius: 8px;
}
.xodry-user-step {
  background: var(--accent-color);
  color: var(--light-color);
  transition: 0.3s;
  padding: 30px 20px;
  border-radius: 15px;
  text-align: center;
}
.xodry-user-step h4 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: var(--light-color);
}

.xodry-user-step p {
  font-size: 1.2rem;
  color: #ddd;
  line-height: 1.4;
}

/* === Timeline Section === */
.timeline-container h3{
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 20px 0px;
}

.timeline-side-line {
  position: absolute;
  top: 150px;
  left: 30px;
  width: 10px;
  height: 85%;
  background: var(--accent-color);

}

/* Timeline Cards */
.timeline-card {
  background: var(--accent-color);
  border-left: 10px solid var(--main-color);
  margin-left: 70px;
  padding: 25px 30px;
  border-radius: 14px;
  color: var(--light-color);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  position: relative;
}
.timeline-card::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -63px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--light-color);
  box-shadow: 0 0 0 10px var(--main-color);
}

.timeline-card:hover {
  background-color: var(--accent-color);
  transform: translateY(-5px);
}

.timeline-card h5 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: var(--light-color);
}

.timeline-card p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--light-color);
  margin: 0;
}
@media screen and (max-width:768px) {
  .timeline-side-line{
    top: 160px;
  }
  .timeline-card h5 {
    font-size: 1.2rem;
  }
  .timeline-card p {
    font-size: 0.9rem;
  }
  
}