.section-title {
  color: var(--light-color);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.section-subtitle {
  color: var(--light-color);
  font-size: 1rem;
}

.xodry-pricing-card {
  background: var(--fade-color);
  border: 2px solid  var(--light-accent-color);
  border-radius:10px;
  padding: 30px 20px;
  transition: 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
}

.xodry-pricing-card.featured {
  background: var(--accent-color);
}

.xodry-pricing-card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.featured .pricing-icon {
  color: var(--light-color);
}

.pricing-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 2rem;
  text-transform: uppercase;
}

.pricing-price {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  color: var(--light-color);
  margin-bottom: 20px;
}

.pricing-features {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 20px;
  text-align: left;
}

.pricing-features li {
  font-size: 0.95rem;
  padding: 6px 0;
  color: #e0e0e0;
}

.pricing-features i {
  color: var(--light-color);
  margin-right: 8px;
}

.featured .pricing-features i {
  color: var(--light-color);
}

.pricing-btn {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 10px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  display: inline-block;
}

.pricing-btn:hover {
  background-color: var(--light-accent-color);
  color: var(--dark-color);
}
