.xodry-vision-mission h2 {
  color: var(--contrast-color);
  font-weight: 700;
  font-size: 3rem;
}

.xodry-vision-mission .card {
  background-color: var(--secondary-color);
  border-left: 10px solid var(--main-color);
  i{
    color: var(--main-color);
  }
}

.xodry-vision-mission h4 {
  color: var(--contrast-color);
  font-weight: 600;
}

.xodry-vision-mission p {
  color: var(--contrast-color);
  line-height: 1.7;
}
