.xodry-section {
  background-color: var(--primary-color);
}

.xodry-stat-box {
  background-color: var(--secondary-color);
  padding: 30px;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
  position:relative;
  overflow: hidden;
  i{
    color:var(--main-color);
  }
  p{
    margin-bottom: 0;
  }
  img{
    position:absolute;
    width: 150px;
    right: 10px;
    bottom: 0;
  }
}