/* INCLUDES CSS IMPORT */
@import url(includes/navbar.css);
@import url(includes/login.css);
@import url(includes/pickupForm.css);
@import url(includes/breadcrumb.css);
@import url(includes/userDetailsForm.css);

/* PARTIALS CSS IMPORT */
@import url(partials/heroSection.css);
@import url(partials/whatWeDo.css);
@import url(partials/whyChooseUs.css);
@import url(partials/howItWorks.css);
@import url(partials/pricingSection.css);
@import url(partials/FAQSection.css);
@import url(partials/footerSection.css);
@import url(partials/aboutOurStory.css);
@import url(partials/vision&mission.css);
@import url(partials/ownerPortfolio.css);
@import url(partials/adminSidebar.css);
@import url(partials/adminStats.css);
@import url(partials/adminUsersList.css);
@import url(partials/adminOrderList.css);



/* COMPONENTS CSS  IMPORT */
@import url(components/imageSlider.css);
@import url(components/defaultBtn.css);
@import url(components/serviceCard.css);
@import url(components/imageCompare.css);
@import url(components/statsCard.css);
@import url(components/recentUserList.css);
@import url(components/addPriceCard.css);
@import url(components/rateListCard.css);



:root{
    --dark-color:#111111;
    --primary-color:linear-gradient(149deg,rgb(23, 27, 24) 0%, rgb(1, 8, 4) 89%);
    --secondary-color:#27391C;
    --accent-color:linear-gradient(149deg,rgb(234, 234, 234) 0%, rgb(255, 255, 255) 89%);
    --main-color:#09fc66;
    --light-color:#f2f2f2;
    --light-accent-color:#a0b3a6;
    --fade-color:#ffffff2a;
    --nav-height:64px;
}
body{
    background: var(--primary-color);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--light-color); 
    font-family:sans-serif;
    overflow-x: hidden;
    width: 100%!important;
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:  var(--light-color);
}
p{
    font-size: 12px;
}
button{
    border: none;
    background-color: transparent;
    color: var(--light-color);
}
.container{
    position: relative;
}