.xodry-breadcrumb h2{
    font-weight: 700;
    font-size: 2rem;
    color: var(--contrast-color);
}
.xodry-breadcrumb p{
    font-size: 1.2rem;
    color: var(--contrast-color);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--accent-color)
};
