.pickup-form {
  width: 400px !important;
  position: fixed;
  padding: 40px 20px;
  background: var(--secondary-color);
  border: 1px solid var(--contrast-color);
  border-radius: 5px;
  bottom: -150%;
  left: 50%;
  transform: translate(-50%, 50%) !important;
  box-shadow: 0 0 50px #000000;
  transition: 0.5s all ease;
  z-index: 99999;
}
.pickup-form form h3 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}
.pickup-form form {
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 0;
}
.pickup-form form input,
.pickup-form form select {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  border: none;
}
.pickup-form form input:focus {
  outline: none;
}

.pickup-form-active {
  bottom: 50% !important;
}
.pickup-form #pickupFormClose {
  position: absolute;
  transform: rotate(-45deg);
  background-color: var(--contrast-color);
  width: 25px;
  height: 3px;
  border-radius: 4px;
  top: 30px;
  right: 20px;
  cursor: pointer;
}
.pickup-form #pickupFormClose::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  width: 25px;
  height: 3px;
  background-color: var(--contrast-color);
  border-radius: 4px;
}
.pickup-form img {
  height: 40px;
  margin-bottom: 20px;
}
@media screen and (max-width:768px){
  .pickup-form{
      transform: translate(-50%, 0)!important;
      width: 100%!important;
      border-radius: 20px;
      padding: 50px 20px;
      padding-bottom: 80px;
      border: none;
  }  
  .pickup-form-active{
      bottom: -10px!important;
  }  

}
