.user-details-form{
    width: 400px!important;
    position: fixed;
    padding: 40px 20px;
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    box-shadow: 0 0 200px #000000;
    transition: 0.5s all ease;
    z-index: 99999;
}
.user-details-form form h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.user-details-form form{
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 0;
    
}
.user-details-form form input{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
.user-details-form form input:focus{
    outline: none;
}

.user-details-form-active{
    top: 50%!important;
}
.user-details-form #userDetailsFormClose{
    position: absolute;
    transform: rotate(-45deg);
    background-color: var(--light-color);
    width: 25px;
    height: 3px;
    border-radius: 4px;
    top: 30px;
    right: 20px;
    cursor: pointer;
}
.user-details-form #userDetailsFormClose::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg);
    width: 25px;
    height: 3px;
    background-color: var(--light-color);
    border-radius: 4px;
}
.user-details-form  img{
    height: 20px;
    margin-bottom: 20px;
}