.xodry-whatwedo-card {
  background: var(--accent-color);
  transition: all 0.3s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.xodry-whatwedo-card img {
  height: 300px;
  object-fit: cover;
}
.xodry-whatwedo-card-title {
  color: var(--light-color);
  font-size: 20px;
  font-weight: 700;
}

.xodry-whatwedo-card-text {
  color: var(--light-color);
  font-size: 16px;
}
.xodry-whatwedo-card .service-card-content {
  text-align: left;
}
