.short-list-riders{
    border: 1px solid var(--accent-color);
    background-color: var(--secondary-color);
    padding: 10px;
    height: 211px;
    overflow-y: auto;
    scrollbar-width: none;
}
.short-riders-list-heading{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px!important; 
    border-bottom: 2px solid var(--accent-color);

}
.short-riders-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 5px;
    border-bottom: 2px solid var(--accent-color);
}
.short-riders-list span:last-child{
    background: var(--accent-color);
    border-radius: 10px;
    font-size: 12px;
    padding: 0 10px 3px 10px;
}